VITE_SUPABASE_URL=https://zqolhozzagyopjiadmxv.supabase.co
VITE_SUPABASE_ANON_KEY=eeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpxb2xob3p6YWd5b3BqaWFkbXh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUzNjg3NTgsImV4cCI6MjA2MDk0NDc1OH0.zHHUfHxCfmJUmKztJdgMtGsnPjK2-LxRzFhjzafXB4M
VITE_GOOGLE_SHEET_WEBAPP_URL=<<AQUÍ_TU_WEBAPP_URL_DE_GOOGLE_SHEET>>
VITE_GOOGLE_DRIVE_WEBAPP_URL=https://script.google.com/macros/s/AKfycbxsuG0O3FKIGiZeRRCHcExuKEBP5H6U9vbZtc6RR4d0ttkisxRkK9y_PxySzqjfw5Tz8g/exec